{
    "ClientToken": "",
    "ClientSecret": "",
    "BotToken": "",
    "DatabaseName": "",
    "BotPrefix": "",
    "GifMeToken": "",
    "ReplUrl": "",
    "GithubSourceUrl": "",
    "MerriamKey": ""
    "WeatherKey": "",
    "GeocodeKey": ""
}
