{
    "ClientToken": "",
    "ClientSecret": "",
    "BotToken": "",
    "DatabaseName": "",
    "BotPrefix": "",
    "GifMeToken": "",
    "ReplUrl": "",
    "GithubSourceUrl": "",
    "WeatherKey": "",
    "GeocodeKey": "",
    "MerriamKey": "",
    "AzureTranslateKey": ""
}