<div class="card">
  <slot />
</div>

<style lang="scss">
  @import "../styles/global";

  .card {
    border-radius: 5px;
    background-color: $primary-background;
    padding: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
</style>
