---
import Icon from "./Icon.astro"
import LoginButton from "./LoginButton.astro"
import Navigation from "./Navigation.astro"
---

<div class="header-links">
  <div class="nav-links">
    <Navigation />
  </div>
  <div class="right-nav">
    <LoginButton />
    <Icon
      icon="bi:github"
      link="https://github.com/ClemBotProject/ClemBot"
    />
    <Icon icon="bi:discord" link="https://discord.gg/mhrVuyh" />
  </div>
</div>

<style lang="scss">
  @import "../styles/global";

  .header-links {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 7px 6px;

    background-color: $primary-background;

    .nav-links {
      grid-column-start: 2;
    }

    .right-nav {
      margin-left: auto;
      margin-right: 1em;
    }
  }
</style>
