<a href="/">Home</a>
<a href="https://docs.clembot.io">Docs</a>
<a href="https://docs.clembot.io">Status</a>
<a href="https://docs.clembot.io">Support</a>

<style lang="scss">
  @import "../styles/global";

  a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    color: $text-color;
  }

  a:hover,
  a:focus {
    color: $primary-light;
    transition: 0.2s ease-in-out;
  }
</style>
