---
import Card from "./Card.astro"
---

<Card>
  <div class="stats-card">
    Currently running <span class="stat-element"
      ><b id="guilds"></b> Guilds</span
    > and helping
    <span class="stat-element"><b id="users"></b> Users</span> with <br /><br />
    <span class="stat-element"
      ><b id="commands" class="stat-element"></b> Commands</span
    > run
  </div>
</Card>

<script>
  interface Stats {
    guilds: number
    users: number
    commands: number
  }

  let stats_resp = await fetch("https://clembot.io/api/public/globalstats")
  let stats: Stats = await stats_resp.json()

  let guilds_doc = document.getElementById("guilds")

  if (guilds_doc === null) {
    console.error("Could not get guilds DOM Element")
  } else {
    guilds_doc.innerHTML = stats.guilds.toString()
  }

  let users_doc = document.getElementById("users")

  if (users_doc === null) {
    console.error("Could not get users DOM Element")
  } else {
    users_doc.innerHTML = stats.users.toString()
  }

  let commands_doc = document.getElementById("commands")

  if (commands_doc === null) {
    console.error("Could not get commands DOM Element")
  } else {
    commands_doc.innerHTML = stats.commands.toString()
  }
</script>

<style lang="scss">
  @import "../styles/global.scss";

  .stat-element {
    font-weight: 800;
    font-size: larg;
  }

  span {
    background-color: $landing-background;
    padding: 3px;
    border-radius: 3px;
  }

  .stats-card {
    margin: 1em;
  }
</style>
