// Default global style sheet for ClemBot.Site

$primary-background: #272727;

$text-color: #e2e2e2;
$primary: #7937b8;
$primary-light: #8e56c3;
$info-color: #00cbff;
$discord-color: #5865F2;

$font: "Ubuntu";

:root {
  background: $primary-background;
  color: $text-color;
  font-family: $font, sans-serif;
}
