---
import "../styles/global.scss"
import HomeLayout from "../layouts/HomeLayout.astro"
import SplashHero from "../components/SplashHero.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ClemBot</title>
  </head>
  <HomeLayout>
    <body>
      <SplashHero />
    </body>
  </HomeLayout>

  <style lang="scss">
    @import "../styles/global";

    html,
    body {
      margin: 0px;
      padding: 0px;
    }

  </style>
</html>
