{
    "ClientToken": "",
    "ClientSecret": "",
    "BotToken": "",
    "ApiUrl": "",
    "ApiKey": ""
    "StartupLogChannelIds": [123456789]
    "ErrorLogChannelIds": [123456789]
    "BotOnly": false
    "BotPrefix": "",
    "GifMeToken": "",
    "ReplUrl": "",
    "GithubSourceUrl": "",
    "WeatherKey": "",
    "GeocodeKey": "",
    "MerriamKey": "",
    "AzureTranslateKey": ""
}