{
    "ClientToken": "",
    "ClientSecret": "",
    "BotToken": "",
    "ApiUrl": "",
    "ApiKey": "",
    "SiteUrl": "",
    "DocsUrl": "",
    "StartupLogChannelIds": [0123456789],
    "ErrorLogChannelIds": [0123456789],
    "BotOnly": true,
    "BotPrefix": "?",
    "GifMeToken": "",
    "ReplUrl": "",
    "GithubSourceUrl": "",
    "WeatherKey": "",
    "GeocodeKey": "",
    "MerriamKey": "",
    "AzureTranslateKey": ""
}
